.test {
  background-color: pink !important;
  padding-top: 2% !important;
  
}

#body {
  background-color: pink !important;
}

#preview-shadow {
  background-color: #72b68a;
  border-radius: 50% 20% / 10% 40%;
  width: 300px;
  height: 180px;
  padding-left: 30px;
  padding-top: 30px;
}

#preview {
  width: 300px;
  background-color: rgb(251, 249, 243, 0.6);
  border-radius: 50% 20% / 10% 40%;
  padding: 15px 25px;
  position: relative;
}

#info {
  min-height: 100vh !important;
}
